body {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

.bg-light {
    background-color: black!important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.dropdown-item {
    width: 120%;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: relative;
    width: 100%;
    z-index: 80;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.664);
    border-color: rgba(255, 255, 255, 0.664);
    background-color: rgba(255, 255, 255, 0.664);
}

ul.dropdown-menu.show {
    padding-right: 33px;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.664);
    padding-right: 85px;
}

.fondo {
    background-image: url(bannerweb.jpg);
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.titulo {
    background-color: rgb(0, 0, 0);
    background-color: rgba(26, 26, 26, 0.4);
    border: 3px solid #f1f1f1;
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 1%;
    text-align: center;
    margin: 9% 10%;
}

h1 {
    text-transform: uppercase;
    font-size: 300%;
}

section {
    margin: 80px 0px;
}

section.aboutus {
    margin: 50px 0;
}

.allcards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #231f20;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    margin: 3% 0%;
    transition-property: transform;
    transition-duration: 0.5s;
}

.card:hover {
    transform: translate(0, -50px) scale(1.1);
}

a {
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}

a.link {
    transition-property: background-color;
    transition-duration: .5s;
}

a.link:hover {
    background-color: grey;
}

a.linksub {
    text-transform: none;
    margin: -22px;
    padding: 0;
}

ul li ul li:hover {
    display: block;
    cursor: pointer;
    text-transform: none;
    height: 30px;
    width: 100%;
}

a.plan:hover>ul li {
    display: block;
}

nav ul.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-top: 10px;
    padding: 21px 0px;
    margin: 0;
}

.navbar-collapse {
    padding-left: 45%;
}

nav .submenu {
    position: absolute;
    width: 164px;
    margin-top: 10px;
    background-color: black;
    z-index: 3;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .7s;
}

nav .submenu:hover {
    opacity: 1;
}

nav ul li ul li {
    text-align: left;
    width: 164px;
    margin-top: 10px;
    padding: 4px 0;
    display: block;
}

p.au1 {
    font-family: Cardo;
    ;
    text-align: center;
}

hr {
    height: 1 px;
}

.newsletter {
    text-align: right;
}

.newsletteringresar {
    text-align: right;
}

.newsletterplanes {
    text-align: right;
}

.menu li:hover .submenu {
    display: block;
}

table {
    margin-top: 30px;
}

#email {
    margin-top: 30px;
}

div.typeplan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 50px;
}

.type1 {
    border: yellow solid 1px;
    border-radius: 10px;
    padding: 0px 23px;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

h4 {
    text-align: center;
}

i.fas.fa-tasks {
    font-size: 320%;
}

.fa-mobile-alt:before {
    font-size: 320%;
}

.fa-check-double:before {
    font-size: 320%;
}

p.parrafo {
    text-align: center;
    margin: 30px 10px;
    font-size: 24px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 44px;
}

.text {
    justify-items: center;
    display: grid;
    grid-gap: 16px;
}

.formulario {
    display: grid;
    height: 291px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 50px;
    grid-gap: 20px;
}

.lineform {
    width: 572px;
    display: block;
}

button.btn.btn-warning {
    margin-right: 17px;
    font-family: Oswald;
    text-transform: uppercase;
    padding: 0px 6px;
}

.nav-link {
    color: unset !important;
}

.headerplan {
    height: 200px;
    margin-top: 50px;
}

.form-control {
    width: 50%;
}

.formingresar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0% 12%;
    padding: 2%;
    border: solid 1px #eec50c;
    border-radius: 50px;
    background-color: rgba(26, 26, 26, 0.6);
}

.form-control {
    width: 400px;
}

.plantitle {
    text-transform: uppercase;
    font-size: 300%;
    border-bottom: solid 1px yellow;
    padding-bottom: 10px;
}

@media (max-width: 906px) {
    .form-control {
        width: 332px;
    }
}

@media (max-width: 774px) {
    .form-control {
        width: 186px;
    }
    .form-ingresar {
        margin: 0% 6%;
    }
}

@media (max-width: 614px) {
    .form-control {
        width: 150px;
    }
    .form-ingresar {
        margin: 0% 2%;
    }
}

@media (max-width: 380px) {
    .form-control {
        width: 150px;
    }
    .form-ingresar {
        margin: 0% 1%;
        padding: 4%
    }
}